# Copy this file to .env and fill in your own keys. Never commit .env or paste real keys anywhere.
ANTHROPIC_API_KEY= yerxashborn88-1689-5H412IN64N
FRED_API_KEY= b35b283d69ae0df60fa3b0e5509f51be
FMP_API_KEY= 1DmNTccV5A1Ah5na4P8UuLoXG5obzYB7
